.container,
.no_matches {
  margin: 1.5rem;
  background: linear-gradient(45deg, #55351a80, #311f0f);
  box-shadow: inset -5px -5px 10px 0px #311f0f,
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.61);
  padding: 2rem;
  border-radius: 10px;
  flex: 1;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem 1rem;
}

.no_matches {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/************ RESPONSIVE ************/
@media screen and (max-width: 1365px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}