.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 80%;
    gap: 0.6rem;
    margin: 1.2rem;
}

.container p{
    padding: 0.1rem 0.4rem;
    border-radius: 40px;
    border: 2px solid #413012;
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: inherit;
    background-color: #6d511e;
}