.btnClose {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #261201, #0f0700);
  border: none;
  color: #f5e0b9;
}

.btnClose:hover {
  background: linear-gradient(to right, #5b4733 0%, #633813 100%);
}

.filter_modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    45deg,
    rgba(254, 190, 88, 1) 0%,
    rgba(243, 235, 124, 1) 88%,
    rgba(243, 235, 124, 1) 96%
  );
  box-shadow: 0px 10px 30px 0px rgba(41, 26, 3, 0.88);
  border: 3px solid #4d3f34;
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  height: 95%;
  color: #2c1701e5;
  z-index: 999;
  max-height: 1200px;
  max-width: 2000px;
}

.filter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.filter_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-radius: 10px;
  width: 95%;
  flex-grow: 1;
  box-shadow: inset 0px 0px 10px 0px #311f0f;
  overflow: hidden;
}

.temperaments_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  max-height: calc(100vh - 20.6rem);
  overflow-y: scroll;
  border-right: 2px solid #412c0d;
  margin: 0.5rem 0;
}

.temperament_item input,
.origin_list input {
  width: 20px;
  height: 20px;
  accent-color: #141414;
  cursor: pointer;
}

.origin_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0.5rem 0;
}

.temperament_item,
.origin_list li {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.06rem;
  font-weight: 700;
}

.grid_title {
  text-align: center;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.filter_title {
  padding: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  background-color: #5b3e25;
  color: #f5e0b9;
}

.btnFilter {
  font-size: 1.2rem;
  color: #f1ece8;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 2.2rem 0;
  padding: 0.5rem 2rem;
  border-radius: 999px;
  border: none;
  background: linear-gradient(
    to bottom,
    #b79b85 0%,
    #a76320 0%,
    #924f1c 62%,
    #87491a 76%,
    #743f16 100%
  );
  box-shadow: 0px 5px 15px 0px rgba(23, 13, 4, 0.78);
}

.btnFilter:hover {
  scale: 1.05;
  transition: all 0.2s;
  transform: translateY(-2px);
}

@media screen and (max-width: 1024px) {
  .filter_modal {
    width: 95%;
  }

  .filter_grid {
    grid-template-columns: 2fr 1fr;
  }

  .temperaments_list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .filter_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    overflow: auto;
  }

  .temperaments_list{
    border: none;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 0.5rem;
  }

  .temperament_item label{
    width: 10ch;
  }

  .origin_list{
    align-items: center;
    padding: 0;
  }

  .origin_list label {
    width: 11ch;
  }
}
