.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.2rem 1rem;
    background-color: #402C1A;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.65);
}

.heading{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
}

.heading img {
    width: 64px;
}

.heading h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: #ecd09d;
}

.ul{
    display: flex;
    width: 70%;
    justify-content: space-around;
    font-size: 1.8rem;
}